# Ignore virtual environment directories
gen_ai_venv/
venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo

# Ignore data files
data/

# Ignore nohup output file
scripts/nohup.out

# Ignore backup test script
search_engine_test_backup.py
