# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo

# Ignore data files
data/

# Ignore nohup output file
scripts/nohup.out

# Ignore T5X training script
t5x_train.py
